<!DOCTYPE html>
<html>
<head>
    <title>Face Attendance System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Face Authentication Attendance</h1>
    <p>Select an action below</p>

    <form action="/register">
        <button type="submit">Register Face</button>
    </form>

    <br>

    <form action="/attendance">
        <button type="submit">Start Attendance</button>
    </form>

    <br>

    <form action="/view-attendance">
        <button type="submit">View Attendance</button>
    </form>
</div>

</body>
</html>
